/*Спільне для обох завдань*/
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(184, 177, 173);
}

.vertical-image {
  background-color: rgb(58, 231, 231);
  width: 25%;
  height: auto;
}

.horizontal-image {
  background-color: rgb(79, 73, 154);
  width: 100%;
  height: auto;
}

.vertical-text {
  background-color: rgb(65, 65, 65);
  width: 75%;
  height: auto;
  text-align: center;
  padding: 10% 5%;
}

.horizontal-text {
  background-color: rgb(120, 120, 119);
  margin-top: -10px;
  height: auto;
  text-align: center;
  padding: 10px 20px;
}

/*Перше завдання*/
.float-elements {
  display: flex;
}

.image1 {
  float: left;
}

.text1 {
  float: left;
}

/*Друге завдання*/
.container2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.flex-elements {
  display: flex;
}
